.dropdown {
    & > &--title {
        background-color: #FF6060;
        padding: 14px;
        color: white;
        border-radius: 5px;
        font-size: 22px;
        cursor: pointer;
        user-select: none;
    }

    & > &--content {
        padding: 15px;
        background-color: #F6F6F6;
        color: #FF6060;
        border-radius: 10px;
        font-size: 18px;
    }

    & > .dropdown--content.dropdown--reduced {
        display: none;
    }

    padding: 1rem 13rem 1rem 13rem;
}