.dropdown {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr); 
    gap: 0; 
    padding: 1rem 0 1rem 3rem;
    width: 100%;

    &--container {
        background-color: #FF6060;
        color: white;
        border-radius: 5px;
        font-size: 22px;
        user-select: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
    }

    &--title {
        padding: 14px;
    }

    &--arrow {
        background-image: url('../../assets/images/arrow-closed.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        height: 20px;
        margin-top: 0.2rem;
        padding: 14px;
        transition: transform 200ms ease-in-out;
    }

    &--arrow-rotated {
        transform: rotate(180deg);
    }

    &--content {
        padding: 15px;
        background-color: #F6F6F6;
        color: #FF6060;
        border-radius: 10px;
        font-size: 18px;
        overflow: hidden;
        max-height: 0; 
        transition: max-height 0.5s ease-out; 
    }

    &--open {
        max-height: 300px; 
    }
}
