.star-rating {
    
    display: flex;
    justify-content: flex-end;

    .star {
        color: #e3e3e3; 
        margin: 0 2px;
        font-size: 2rem;
    }
    .filled {
        color: #ff6060; 
    }
}

@media screen and (max-width: 800px) {
    .star-rating {
        justify-content: center;
    }
}