.housing {

    margin: 1rem 5rem 1rem 5rem;
    
    &-photo {
        margin-bottom: 2rem;
    }

    &-title, &-location {
        color: #FF6060;
    }

    &-title {
        font-weight: 400;
        font-size: 35px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &-tags {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    &-dropdowns {
        display: grid;
        grid-template-columns: 45% 45%; 
        column-gap: 6rem;
        justify-content: space-between;

        #equipements {
            padding-right: -3rem;
        }
    }

    &-infos {
        display: flex;
        justify-content: space-between;
    }

    
}

@media screen and (max-width: 1024px) {
    .housing {
        margin: 1rem;

        &-dropdowns {
            column-gap: 2rem;
        }
    }
}

@media screen and (max-width: 800px) {
    .housing {

        &-infos {
            flex-direction: column;
            justify-content: center;
        }

        &-dropdowns {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); // Adjust as needed
            grid-auto-rows: auto;
            justify-content: space-between;
        }

        &-tags {
            justify-content: center;
        }
    }
}