.header {
    margin: 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        
    }

    &--titles {
        color: #FF6060;
        font-size: 25px;
        font-weight: 410;
        padding: 0 2rem;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {

        &--titles {
            font-size: 40px ;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {

        a {
            display: flex;
            justify-content: center;
        }

        flex-direction: column;

        &--nav {
            flex-direction: column ;
            margin-top: 3rem;
        }
    }
}