.thumb {
    width: 340px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // background-color: rgb(255, 96, 96);
    margin: 1.5rem;
    border-radius: 10px;
    border-radius: 0.625rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);


    &-title {
        height: 40px;
        margin: 0;
        font-size: 18px;
    }
}