.thumb {
    width: 340px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #FF6060;
    margin: 1.5rem;
    border-radius: 10px;
    // background: linear-gradient(to bottom, #FFFFFF 0%, #000000 50%);

    &-title {
        height: 40px;

        &-text {
            margin: 0;
            font-size: 18px;
        }
    }
}