.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0 1rem 0;
    width: 100%;
}