.layout {
    margin: 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--nav {
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            color: #FF6060;
            font-size: 25px;
            font-weight: 410;
            padding: 0 2rem;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    &-container {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    &-main {
        flex: 1;
        margin: 0 3rem;
    }
}

